<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>label自适应宽高.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBAEAC2A1D6D83E10018F90C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBAEAC431D6D83E20018F90C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBAEAC4E1D6D83E20018F90C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
