<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testRunLoop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB3E394D1E45A1F200F207FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB3E39661E45A1F200F207FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB3E39711E45A1F200F207FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
